## Train.csv limpio con las diferentes opciones que podemos hacer por variable:

In [1]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import matplotlib as plt
import matplotlib.pyplot as plt

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory
# data=pd.read_csv('C:\\Users\\josan\\Documents\\GitHub\\EDEM_MDA2324\\Alumnos\\ES\\Josan_Rodrigo_Cortes\\Dataproject3\\train.csv')
data = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
# test.describe()
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51.0,1.0,1.0,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0
1,54.0,1.0,3.0,120.0,237.0,0.0,0.0,150.0,1.0,1.5,-9.0,-9.0,7.0,2
2,63.0,1.0,4.0,140,0,?,2.0,149,0,2,1,?,?,2
3,52.0,0.0,2.0,140.0,-9.0,0.0,0.0,140.0,0.0,0.0,-9.0,-9.0,-9.0,0
4,55.0,1.0,4.0,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3

In [2]:
# AÃ±adimos 'test' a 'data', pero antes creamos la columna 'label' en test y la llenamos con NaNs
# test['label'] = None
# data = pd.concat([data, test], ignore_index=True)

In [3]:
# Buscamos si hay alguna entrada duplicada
data.duplicated().any()

True

In [4]:
data.describe()

              age         sex          cp     restecg       label
count  732.000000  732.000000  732.000000  732.000000  732.000000
mean    53.364754    0.789617    3.250000    0.602459    1.132514
std      9.306868    0.407859    0.923363    0.802966    1.257615
min     28.000000    0.000000    1.000000    0.000000    0.000000
25%     47.000000    1.000000    3.000000    0.000000    0.000000
50%     54.000000    1.000000    4.000000    0.000000    1.000000
75%     60.000000    1.000000    4.000000    1.000000    2.000000
max     76.000000    1.000000    4.000000    2.000000    4.000000

In [5]:
data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
0,51.0,1.0,1.0,125.0,213.0,0.0,2.0,125.0,1.0,1.4,1.0,1.0,3.0,0
1,54.0,1.0,3.0,120.0,237.0,0.0,0.0,150.0,1.0,1.5,-9.0,-9.0,7.0,2
2,63.0,1.0,4.0,140,0,?,2.0,149,0,2,1,?,?,2
3,52.0,0.0,2.0,140.0,-9.0,0.0,0.0,140.0,0.0,0.0,-9.0,-9.0,-9.0,0
4,55.0,1.0,4.0,140.0,217.0,0.0,0.0,111.0,1.0,5.6,3.0,0.0,7.0,3

1.age: edad del paciente

2.sex: sexo del paciente

3.cp: tipo de dolor de pecho:

    - 1: angina tÃ­pica
    - 2: angina atÃ­pica
    - 3: dolor no-anginoso
    - 4: asintomÃ¡tico

4.trestbps: presiÃ³n arterial en reposo (en mm Hg al ingreso en el hospital)

5.chol: colesterol sÃ©rico en mg/dl

6.fbs: dolor provocado por el esfuerzo (1 = sÃ­; 0 = no)

7.restecg: resultados electrocardiogrÃ¡ficos en reposo

    - 0: normal
    - 1: presenta anormalidad de la onda ST-T
    - 2: presenta probable o definida hipertrofia ventricular izquierda

8.** thalach:** frecuencia cardiaca en reposo

9.exang: angina inducida por el ejercicio (1 = sÃ­; 0 = no)

10.oldpeak: depresiÃ³n del ST inducida por el ejercicio en relaciÃ³n con el reposo

11.slope: la pendiente del segmento ST en ejercicio mÃ¡ximo

    - 1: pendiente ascendente
    - 2: plano
    - 3: pendiente descendente

12.ca: nÃºmero de vasos mayores (0-3) coloreados por flouroscopia

13.thal:

    - 3: normal
    - 6: defecto fijo
    - 7: defecto reversible

Limpieza general:

In [6]:
# Tenemos dos filas duplicadas las eliminamos:
data = data.drop_duplicates(keep = False)

1.age: edad del paciente, la edad estÃ¡ bien, no hay ningÃºn dato extraÃ±o, salvo que esta en float y lo cambiamos a int

In [7]:
data['age']=data['age'].astype(int)

<ipython-input-7-31d1e437e11b>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['age']=data['age'].astype(int)

2.sex: sexo del paciente. Cambiamos a int los valores pues son float. AquÃ­ si abra que probar desbalanceando el df

In [8]:
data['sex']=data['sex'].astype(int)
data['sex'].value_counts()

<ipython-input-8-41ccc9f9c141>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['sex']=data['sex'].astype(int)

1    578
0    152
Name: sex, dtype: int64

3.cp: tipo de dolor de pecho:

    - 1: angina tÃ­pica
    - 2: angina atÃ­pica
    - 3: dolor no-anginoso
    - 4: asintomÃ¡tico

Cambiamos los valores a de float a int, y ver el count pues los resultados estÃ¡n desbalanceados.

In [9]:
data['cp']=data['cp'].astype(int)
data['cp'].value_counts()

<ipython-input-9-9999862d9aa5>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['cp']=data['cp'].astype(int)

4    391
3    168
2    136
1     35
Name: cp, dtype: int64

4.trestbps: presiÃ³n arterial en reposo (en mm Hg al ingreso en el hospital)
48 ?, datos no informados, se sustituye por -1. Ver que hacen los modelos

In [10]:
data['trestbps'] = data['trestbps'].replace('?', '-1')
data['trestbps'] = data['trestbps'].replace('0', '-1')
data['trestbps'] = data['trestbps'].astype(float).astype(int) #los pasamos a enteros
print(data['trestbps'].value_counts())

 120    109
 130     88
 140     78
-1       48
 150     42
 110     42
 160     41
 125     24
 135     17
 128     15
 100     14
 115     14
 170     12
 112     12
 122     11
 145     11
 124     11
 180     11
 132     10
 118      9
 134      9
 138      9
 105      7
 142      7
 136      7
 108      6
 155      6
 126      6
 152      4
 95       3
 144      3
 146      3
 178      3
 104      3
 114      2
 158      2
 148      2
 172      2
 154      2
 190      2
 200      2
 106      2
 165      2
 102      2
 116      2
 94       2
 123      1
 164      1
 92       1
 117      1
 113      1
 185      1
 127      1
 96       1
 174      1
 192      1
 98       1
Name: trestbps, dtype: int64

<ipython-input-10-a7331bb2d26f>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['trestbps'] = data['trestbps'].replace('?', '-1')
<ipython-input-10-a7331bb2d26f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['trestbps'] = data['trestbps'].replace('0', '-1')
<ipython-input-10-a7331bb2d26f>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['trestbps'] = data['trestbps'].astype(float).astype(int) #los pasamos a enteros

5.chol: colesterol sÃ©rico en mg/dl
Outlayers, ceros, ver que hacemos con ellos, puedes ser valores errÃ³neos.

In [11]:
data['chol'] = pd.to_numeric(data['chol'], errors='coerce') #convertimos los valores a floats

data = data.dropna(subset=['chol']) # quitamos 5 nan que hay

<ipython-input-11-56c0a32b6ae2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['chol'] = pd.to_numeric(data['chol'], errors='coerce') #convertimos los valores a floats

In [12]:
intervalos = range(int(data['chol'].min()), int(data['chol'].max()) + 51, 50)

# Crear los intervalos y contar la frecuencia de valores en cada intervalo
frecuencia_por_intervalo = pd.cut(data['chol'], bins=intervalos).value_counts().sort_index()

# Imprimir los resultados
print("Frecuencia por intervalo de 50 puntos:")
print(frecuencia_por_intervalo)

Frecuencia por intervalo de 50 puntos:
(-9, 41]      135
(41, 91]        1
(91, 141]       9
(141, 191]     63
(191, 241]    223
(241, 291]    174
(291, 341]     82
(341, 391]     12
(391, 441]      4
(441, 491]      4
(491, 541]      2
(541, 591]      1
(591, 641]      1
Name: chol, dtype: int64

6.fbs: dolor provocado por el esfuerzo (1 = sÃ­; 0 = no)

58 ?, -9? desbalanceado...

In [13]:
data['fbs'] = data['fbs'].replace({'0.0': '0', '1.0': '1', '?': '-9.0'}) # unificamos valores
data['fbs'] = data['fbs'].astype(float).astype(int)
# data['fbs'] = data['fbs'].replace({'?': np.nan, '-9.0': np.nan}) # no se que hace esta lÃ­nea.
value_counts_fbs = data['fbs'].value_counts()
value_counts_fbs

<ipython-input-13-afa8e87e8885>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['fbs'] = data['fbs'].replace({'0.0': '0', '1.0': '1', '?': '-9.0'}) # unificamos valores
<ipython-input-13-afa8e87e8885>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data['fbs'] = data['fbs'].astype(float).astype(int)

 0    548
 1    111
-9     66
Name: fbs, dtype: int64

7.restecg: resultados electrocardiogrÃ¡ficos en reposo

    - 0: normal
    - 1: presenta anormalidad de la onda ST-T
    - 2: presenta probable o definida hipertrofia ventricular izquierda

Esta variable esta bastante bien... tiene un valor -9 y un '?', los eliminamos.

In [14]:
print(data['restecg'].value_counts())
print(f'NÃºmero de entradas:', len(data['restecg']))

0.0    434
2.0    147
1.0    144
Name: restecg, dtype: int64
NÃºmero de entradas: 725

In [15]:
data = data[~data['restecg'].isin([-9.0, 9, '?'])]

In [16]:
data['restecg'] = data['restecg'].astype(float).astype(int)

In [17]:
# Comprobamos
print(data['restecg'].value_counts())
print(f'NÃºmero de entradas:', len(data['restecg']))

0    434
2    147
1    144
Name: restecg, dtype: int64
NÃºmero de entradas: 725

8.** thalach:** frecuencia cardiaca en reposo
Que hacemos con los valores no informados?? 42

In [18]:
data['thalach'].value_counts()

?        42
150.0    29
140.0    25
160.0    17
130.0    16
         ..
162       1
102.0     1
161       1
156       1
132       1
Name: thalach, Length: 179, dtype: int64

In [19]:
data['thalach'] = data['thalach'].replace('?', '-1')
data['thalach'] = data['thalach'].astype(float).astype(int)

# Comprobamos
data['thalach'].value_counts()

-1      42
 140    36
 150    35
 120    28
 130    22
        ..
 107     1
 195     1
 60      1
 73      1
 181     1
Name: thalach, Length: 115, dtype: int64

9.exang: angina inducida por el ejercicio (1 = sÃ­; 0 = no)
Esta bastante bien, ver que hacemos con los nan

In [20]:
data['exang'] = data['exang'].replace({'?': 99}) # Reemplazar '?' por 99 para limpiar los valores no numÃ©ricos

# data['exang'] = pd.to_numeric(data['exang'], errors='coerce') # Convertir los valores de la columna 'exang' a numÃ©ricos (float) para asegurarse de que todos los valores sean numÃ©ricos

data['exang'] = data['exang'].astype(float).astype(int) # Convertir los valores de la columna 'exang' a enteros

# Contar los valores Ãºnicos de la variable 'exang'
exang_counts = data['exang'].value_counts()
exang_counts

0     419
1     264
99     42
Name: exang, dtype: int64

10.oldpeak: depresiÃ³n del ST inducida por el ejercicio en relaciÃ³n con el reposo

Valores negativos, que hacemos. Valores = 15 que hacemos

In [21]:
# Casteamos todos los valores a float, para trabajar mejor:
data['oldpeak'] = data['oldpeak'].replace('?', '15.0')
data['oldpeak'] = data['oldpeak'].astype(float)
negative_values_count = (data['oldpeak'] < 0).sum()
question_values_count = (data['oldpeak'] >= 15).sum()
print(f"NÃºmero de valores negativos en 'oldpeak': {negative_values_count}")
print(f"NÃºmero de valores iguales a 15 en 'oldpeak': {question_values_count}")

NÃºmero de valores negativos en 'oldpeak': 10
NÃºmero de valores iguales a 15 en 'oldpeak': 47

11.slope: la pendiente del segmento ST en ejercicio mÃ¡ximo

    - 1: pendiente ascendente
    - 2: plano
    - 3: pendiente descendente

Tenemos 243  datos faltantes.

In [22]:
data['slope'] = pd.to_numeric(data['slope'], errors='coerce')  # Convertir la columna 'slope' a nÃºmeros, tratando los errores como NaN
data['slope'] = data['slope'].replace(-9, 99)  # Reemplazar -9 por 99
data['slope'] = data['slope'].fillna(99)  # Rellenar los valores NaN (resultantes de los '?') con 99

In [23]:
data['slope'].value_counts()

2.0     276
99.0    243
1.0     157
3.0      49
Name: slope, dtype: int64

12.ca: nÃºmero de vasos mayores (0-3) coloreados por flouroscopia, esta columna esta bien

In [24]:
data['ca'].value_counts()

?       244
-9.0    228
0.0     145
1.0      53
2.0      33
3.0      17
0         2
2         2
1         1
Name: ca, dtype: int64

In [25]:
data['ca'] = data['ca'].replace('?', '-9')
data['ca'] = data['ca'].astype(float).astype(int)

# Quitamos ese 9.0, es solo 1 entrada
data = data[~data['ca'].isin([9.0])]

# Comprobamos
data['ca'].value_counts()

-9    472
 0    147
 1     54
 2     35
 3     17
Name: ca, dtype: int64

13.thal:

    - 3: normal
    - 6: defecto fijo
    - 7: defecto reversible

209 valores no informados.

In [26]:
# Reemplazar '?' por NaN para limpiar los valores no numÃ©ricos
data['thal'] = data['thal'].replace({'?': 99})

# Convertir los valores de la columna 'thal' a numÃ©ricos (float) para asegurarse de que todos los valores sean numÃ©ricos
# data['thal'] = pd.to_numeric(data['thal'], errors='coerce')

# Convertir los valores de la columna 'thal' a enteros
data['thal'] = data['thal'].astype(float).astype(int)

# Contar los valores Ãºnicos de la variable 'thal'
thal_counts = data['thal'].value_counts()

# Mostrar los resultados
print("Variable: thal")
print(thal_counts)

Variable: thal
-9     208
 99    164
 7     160
 3     157
 6      36
Name: thal, dtype: int64

In [27]:
data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,label
count,725.000000,725.000000,725.000000,725.00000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000,725.000000
mean,53.321379,0.790345,3.251034,123.81931,195.921379,-0.666207,0.604138,130.037241,6.099310,1.794345,34.362759,-5.617931,22.304828,1.129655
std,9.288063,0.407344,0.924133,37.12952,113.557130,2.663240,0.803469,41.158265,23.058143,3.641468,45.929107,4.656304,41.949549,1.254722
min,28.000000,0.000000,1.000000,-1.00000,-9.000000,-9.000000,0.000000,-1.000000,0.000000,-2.600000,1.000000,-9.000000,-9.000000,0.000000
25%,47.000000,1.000000,3.000000,120.00000,169.000000,0.000000,0.000000,115.000000,0.000000,0.000000,2.000000,-9.000000,-9.000000,0.000000
50%,54.000000,1.000000,4.000000,130.00000,223.000000,0.000000,0.000000,138.000000,0.000000,0.600000,2.000000,-9.000000,3.000000,1.000000
75%,60.000000,1.000000,4.000000,140.00000,267.000000,0.000000,1.000000,156.000000,1.000000,2.000000,99.000000,0.000000,7.000000,2.000000
max,76.000000,1.000000,4.000000,200.00000,603.000000,1.000000,2.000000,202.000000,99.000000,15.000000,99.000000,3.000000,99.000000,4.000000

In [28]:
for col in data.columns:
  question_mark_indices = data.index[data[col].astype(str) == '?'].tolist()
  if question_mark_indices:
    print(f"Column '{col}' contains '?' in rows: {question_mark_indices}")

In [29]:
# Check for NaN values in the dataframe
has_nans = data.isna().any().any()

if has_nans:
    print("The dataframe contains NaN values.")
else:
    print("The dataframe does not contain any NaN values.")

The dataframe does not contain any NaN values.

In [30]:
# Iterate over each column and check for NaN values
for col in data.columns:
    nan_indices = data.index[data[col].isna()].tolist()
    if nan_indices:
        print(f"Column '{col}' has NaN values in rows: {nan_indices}")

In [31]:
## Random Forest

from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score

# Split the data into features and the target variable
data = data.dropna()
X = data.drop('label', axis=1)
y = data['label']

# Split the dataset into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=42)

# Initialize the Random Forest Classifier
random_forest_model = RandomForestClassifier(n_estimators=100, random_state=42)

# Train the model on the training data
random_forest_model.fit(X_train, y_train)

# Make predictions on the test data
y_pred = random_forest_model.predict(X_test)

# Calculate the accuracy of the model
accuracy = accuracy_score(y_test, y_pred)

# Print the accuracy
print("Accuracy:", accuracy)

Accuracy: 0.5164835164835165

In [35]:
print(y_pred)

[2 4 3 1 0 0 0 2 0 0 0 2 0 2 3 1 3 0 0 0 3 1 0 0 0 0 3 3 0 1 0 0 2 1 0 2 3
 3 1 0 0 0 1 0 0 0 1 1 0 1 1 2 0 0 2 0 0 0 2 1 0 3 0 0 0 2 1 0 0 0 0 0 0 0
 0 1 0 3 0 2 1 0 0 0 1 0 0 1 0 0 3 0 0 1 3 2 3 3 0 0 0 3 3 1 0 0 0 3 2 0 0
 0 0 3 0 0 0 1 1 2 3 0 4 3 2 1 0 1 2 0 0 2 2 3 0 3 0 1 2 2 2 0 0 0 0 0 0 0
 1 2 1 1 1 1 3 0 0 0 1 0 1 0 0 1 0 0 3 0 0 0 3 0 0 1 0 0 3 3 2 0 0 2]